[submodule "Libs/json"]
	path = Libs/json
	url = https://github.com/nlohmann/json.git
[submodule "Libs/fmt"]
	path = Libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Libs/cpp-httplib"]
	path = Libs/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "Libs/url-cpp"]
	path = Libs/url-cpp
	url = https://github.com/seomoz/url-cpp.git
